@use "colors.scss" as *;

body {
    min-height: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;

    background-color: $background;

    & .container-slider {
        display: flex;
        justify-content: center;
        overflow: hidden;

        & .handle {
            border: none;
            border-radius: 0.3rem;
            flex-grow: 0;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: 10;
            margin: .25rem 0;
            padding: 0 0.5rem;
            cursor: pointer;
            font-size: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            line-height: 0;
            transition: background-color .7s ease-in-out;

            & .text {
                transition: transform 150ms ease-in-out;
            }

            &:hover,
            &:focus {
                background-color: rgba(0, 0, 0, 0.5);
            }
            &:hover .text,
            &:focus .text {
                transform: scale(1.2);
            }
        }
        
        .left-handle {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .right-handle {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        & .slider {
            --slider-index: 1;
            display: flex;
            flex-grow: 1;
            margin: 0 0.25rem;
            transform: translate(calc(var(--slider-index) * -100%));
            transition: transform 250ms ease-in-out;

            & a {
                flex: 0 0 100%;
                padding: .25rem;
                max-width: 100%;
                aspect-ratio: 16/4;
                & img {
                    width: 100%;
                    height: auto;
                    border-radius: 0.3rem;

                    transition: opacity .2s ease-in-out;
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
        
    }

    & .container-apresentacao {
        display: flex;
        align-items: center;
        gap: 3rem;

        & h2 {
            font-size: 2rem;
            padding-bottom: 1rem;
        }
        & p {
            padding-bottom: 2rem;
        }

        & .video-apresentacao {
            width: 30rem;
            height: auto;
            & iframe {
                aspect-ratio: 16/9;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    & .topCollections, & .popularCases {
        width: 100%;
        height: auto;

        display: flex;
        gap: 2rem;

        & .item {
            display: flex;
            gap: 0.7rem;
            flex-direction: column;
            align-items: center;
            
            & img {
                display: block;
                width: 100%;
                height: auto;
                border-radius: 0.1rem;
            }

            & .price {
                color: limegreen;
                padding: 0.2rem;
                border: solid 2px limegreen;
                border-radius: 10%;
            }
        }
    }

    & .lastNews {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "bigImg bigImg"
        "bigImg bigImg";
        gap: 1.5rem;

        & :first-child {
            position: relative;
            top: 0.2rem;
            grid-area: bigImg;
        }

        & .item {
            max-width: 100%;

            & img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}