// $primary: #16202a;
$primary: #011c31;
$primaryLight: #023C47;
$background: #202225;
$background-perfil1: #002846;
$background-perfil2: #001828;

$button: #485158;
$button-bg: #eb2b63;
$button-bg-hover: #cd2555;

$font: #FFFFFF;

$body: #363838;
$bodyLight: #4F5252;
$bodyLight2: #5B5E5E;

$novacor: #303339;