@use "colors.scss" as *;

*,
*::before,
*::after { /* Afecta a todos los elementos del documento */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
    color: $font;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

//Default classes
.default-button {
    background: $secondary;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.default-container {
    position: relative;
    overflow: hidden;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .default-container-header {
        display: flex;

        & .default-container-titulo {
            position: relative;
            left: 5%;
        }

        & .default-container-explore {
            margin-left: auto;
            margin-right: 0;

            position: relative;
            right: 1.5%;

            padding: 0.1rem;

            border: solid 1px white;
            border-radius: 10%;
        }
    }
}