@use "colors.scss" as *;

footer {
    background-color: $primary;
    width: 100%;

    padding: 1rem;
    margin-top: auto;

    display: flex;
    justify-content: space-between;

    align-items: center;
    align-content: center;
  
    & .social-footer {
        font-size: 1.5rem;

        display: flex;
        gap: 2rem;

        & a {
            position: relative;
            top: 4px;
        }
    }
  

    & .nav-footer {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
}