@use "colors.scss" as *;

header {
    background-color: $primary;
    padding: 0.7rem 2rem;
    min-width: 100%;

    display: flex;
    align-items: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    & a {
        width: 25%;
        & img {
            width: 250px;
        }
    }

    & nav {
        display: flex;
        gap: 2rem;

        margin: 0 auto;

        & a {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    & .register-div {
        width: 25%;
        display: flex;
        justify-content: end;
    }
}