@import "colors.scss";

header {
    background-color: $primary;
    padding: 0.7rem 2rem;
    min-width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        width: 300px;
    }

    & nav {
        display: flex;
        gap: 2rem;

        & a {
            color: $font;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    & #register-div {
        & #register-button {
            color: $font;

            background: $secondary;

            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
        }
    }

}